---
---

<script>
// Get API key from server side .ENV file
const APIKEY = import.meta.env.PUBLIC_WEATHER_API;
console.log(APIKEY);


// API endpoint URL
const queryEndpoint = 'https://api.openweathermap.org/data/2.5/weather';
// City
const queryCity = 'Spokane';
// Units for Farenheit
const queryUnits = 'imperial';

// URL query string
const url = `${queryEndpoint}?q=${queryCity}&appid=${APIKEY}&units=${queryUnits}`;

// Get DOM Elements
const city = document.querySelector('.city');
const temp = document.querySelector('.temp');
const feels_like = document.querySelector('.feels_like');
const icon = document.querySelector('.icon');

// Using fetch to get data
fetch(url)
.then( response => response.json() )
.then( data => {

  // Check-check: Is data good? 
  console.log( data );
  
  // Get Container for Weather   
  const weatherContainer = document.querySelector('.weather');
    
    // Set DOM Elements
    city.textContent = data.name; 
    temp.textContent = `Temp: ${data.main.temp} °F`;
    feels_like.textContent = `Feels like: ${data.main.feels_like} °F`;

    icon.setAttribute('src', `http://openweathermap.org/img/wn/${data.weather[0].icon}@2x.png`)
  
});
</script>


<!-- Weather -->
<section class="weather card bg-base-100 w-96 shadow-xl h-70 bg-opacity-50 backdrop-blur-md mt-3">
  <figure class="px-10 pt-10">
    <img
      src="https://via.placeholder.com/150"
      alt="Placeholder"
      class="rounded-xl icon" />
  </figure>
  <div class="card-body">
    <h1 class="card-title">Weather</h1>
    <data class="city">City</data>
    <data class="temp">Temp</data>
    <data class="feels_like">humidity</data>
  </div>
      
</section>
